TnmsPluginFoundation/obj/*
TnmsPluginFoundation/bin/*

TnmsPluginFoundation.Example/obj/*
TnmsPluginFoundation.Example/bin/*

TnmsAdministrationPlatform/bin/*
TnmsAdministrationPlatform/obj/*
TnmsAdministrationPlatform.Shared/bin/*
TnmsAdministrationPlatform.Shared/obj/*

TnmsExtendableTargeting/bin/*
TnmsExtendableTargeting/obj/*
TnmsExtendableTargeting.Shared/bin/*
TnmsExtendableTargeting.Shared/obj/*

TnmsLocalizationPlatform/bin/*
TnmsLocalizationPlatform/obj/*
TnmsLocalizationPlatform.Shared/bin/*
TnmsLocalizationPlatform.Shared/Obj/*


.idea
Folder.DotSettings.user
TnmsPluginFoundation.sln.DotSettings.user